librosa
soundfile
scikit-learn>=1.3.2
funasr>=1.1.2
moviepy==1.0.3
numpy==1.26.4
gradio>=4.31.3,<5.0
gradio-client==1.3.0
pydantic==2.10.6
fastapi==0.115.12
starlette==0.46.2
huggingface_hub<1.0
transformers<5
modelscope
torch>=1.13
torchaudio
openai
g4f
dashscope
curl_cffi
twelvelabs>=1.2.8
